<div class="well">

  <%= form_tag inventory_management_create_recipe_cooking_instructions_path, method: 'post', remote: true do %>

    <%= text_field_tag :new_step, nil, class: 'form-control' %>

    <hr />

    <% # submit info about alr created cooking instructions in hidden field %>
    <% @cooking_instructions.each do |step| %>
      <%= hidden_field_tag 'existing_steps[]', step %>
    <% end %>

    <%= hidden_field_tag 'recipe_ingredients_and_equipment', @recipe_ingredients_and_equipment %>

    <%= submit_tag 'Add a Step', name: nil, class: 'btn btn-default' %>

  <% end %>

</div>