<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="well">

      <div class="page-header"><h2>Last Steps...</h2></div>

      <div class="progress">
      	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
      	  <span class="sr-only">90% Complete</span>
      	</div>
      </div>


      <% # configuration of recipe %>
      <%= form_tag homepage_create_recipe_path, method: 'post', remote: false do %>

        <%= label_tag :name, 'Name of Recipe' %>
        <%= text_field_tag :name, nil, class: 'form-control' %>

        <hr />

        <%= label_tag :pax, 'Pax' %>
        <%= text_field_tag :pax, nil, class: 'form-control' %>

        <hr />

        <%= label_tag :region, 'Region' %>
        <%= select_tag :region, options_for_select(['Asian', 'Western', 'Others']), class: "form-control" %>

        <hr />

        <%= label_tag :symbol, 'Symbol' %>
        <%= select_tag :symbol, options_for_select(['None', 'Chili', 'Halal', 'Vegan']), class: "form-control" %>

        <hr />

        <%= label_tag :dietary_restriction, 'Dietary Restriction' %>
        <%= select_tag :dietary_restriction, options_for_select(['None', 'Halal', 'Vegetarian']), class: "form-control" %>

        <hr />

        <%= label_tag :cooking_time, 'Cooking Time' %>
        <%= select_tag :cooking_time, options_for_select(['Short', 'Medium', 'Long']), class: "form-control" %>

        <hr />

        <%= label_tag :level_of_difficulty, 'Level of Difficulty' %>
        <%= select_tag :level_of_difficulty, options_for_select(['Low', 'Medium', 'High']), class: "form-control" %>

        <hr />


        <% # Hidden Fields %>

    		<% # submit info about alr created cooking instructions in hidden field %>
        <%= hidden_field_tag :recipe_ingredients_and_equipment, @recipe_ingredients_and_equipment %>

    		<%= hidden_field_tag :cooking_instructions, @cooking_instructions %>

    		<%= submit_tag 'Complete', name: nil, class: 'btn btn-success' %>

      <% end %>


    </div>
  </div>
  <div class="col-md-2"></div>
</div>