<%= render '/homepage/partials/header' %>

<div class="row">
  <div class="col-xs-2">
  	<%= render 'homepage/partials/vertical_nav_bar' %>
  </div>
  <div class="col-xs-10">
	<!-- create new equipment section -->
	<div id="create_new_equipment_section">
	  <%= render '/homepage/partials/create_equipment' %>
	</div>

	<!-- search equipment -->
	<%= form_tag homepage_equipment_path, :method => 'get', :id => 'equipment_search' do %>
	  <p>
	    <%= text_field_tag :search, params[:search], class: 'form-control' %>

	    <hr />

	    <%= submit_tag 'Search', name: nil, class: 'btn btn-default' %>
	  </p>
	<% end %>

	<!-- equipment search results -->
	<div id="equipment_search_results">
	  <%= render '/homepage/partials/equipment_search_results' %>
	</div>
  </div>
</div>