<div id="equipment_search_results_info_and_table">

  <!-- info about search query -->
  <div>
    <%= page_entries_info @equipment %>
  </div>

  <!-- table of search results -->
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.code %></td>
        <td><%= equipment.name %></td>
        <td><%= equipment.price %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- page numbers -->
<%= paginate @equipment, :remote => true %>