<!-- button and associated modal for finding ingredients -->
<button type="button" class="btn btn-primary" id="search_or_create_ingredients_button" data-toggle="modal" data-target="#search_or_create_ingredients">Find Ingredients</button>

<div class="modal fade bs-example-modal-lg" id="search_or_create_ingredients" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Find Ingredients</h4>
      </div>

      <div class="modal-body">

        <!-- search ingredients -->
        <%= form_tag inventory_management_recipes_path, :method => 'get', :id => 'ingredients_search' do %>
        <!-- search field -->
        <p>
          <%= text_field_tag :search %>

          <% # submit existing ingredients code in hidden field %>
          <% @ingredients_for_recipe.each do |ingredient| %>
            <%= hidden_field_tag 'existing_ingredients_code_for_recipe[]', ingredient.code %>
          <% end %>

          <%= submit_tag 'Search', name: nil %>
        </p>
        <% end %>

        <!-- ingredients search results -->
        <div id="ingredients_search_results">
          <%= render '/inventory_management/partials/ingredients_search_results' %>
        </div>

        <!-- create ingredient -->
        <%= render '/inventory_management/partials/create_ingredient' %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>


    </div>
  </div>
</div>