<% # enter ingredient code to add ingredient %>
<%= form_tag inventory_management_recipes_path, method: 'post', remote: true, id: 'add_ingredient_to_recipe' do %>
  <!-- ingredient code field -->
  <p>
    <%= label_tag :ingredient_code, 'Enter Ingredient Code to Add to Recipe' %>
    <%= text_field_tag :ingredient_code %>

    <% # note: need to update this section after AJAX call %>
    <% # as otherwise the number of hidden fields would remain zero %>
    <% # and the code of newly added ingredients would not be captureed %>
  <% @ingredients_for_recipe.each do |ingredient| %>
    <%= hidden_field_tag 'existing_ingredients_code_for_recipe[]', ingredient.code %>
  <% end %>

    <% # name is only nil here and 'submit' elsewhere for recipes -> create [] only when first open or add ingre %>
    <%= submit_tag 'Enter', name: nil %>
  </p>
<% end %>

<% # table of ingredients to add to recipe %>
<%= render '/inventory_management/partials/recipe_modal/ingredients_table_for_recipe' %>
<% # button and modal associated with finding ingredients %>
<%= render '/inventory_management/partials/recipe_modal/finding_ingredients' %>