<!-- create new ingredient section -->
<div id='create_new_ingredient_section'>
  <%= render '/inventory_management/partials/create_ingredient' %>
</div>

<!-- search ingredients -->
<%= form_tag inventory_management_ingredients_path, :method => 'get', :id => 'ingredients_search' do %>
  <!-- search field -->
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Search', name: nil %>
  </p>

<% end %>

<!-- search results -->
<div id='ingredients_search_results'>
  <%= render '/inventory_management/partials/ingredients_search_results' %>
</div>