<!-- search recipes -->
<%= form_tag inventory_management_recipes_path, :method => 'get', :id => 'recipes_search' do %>
  <!-- search field -->
  <p>
    <%= text_field_tag :search, params[:search] %>

    <% # submit existing ingredients code in hidden field %>
    <% @ingredients_for_recipe.each do |ingredient| %>
      <%= hidden_field_tag 'existing_ingredients_code_for_recipe[]', ingredient.code %>
    <% end %>

    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>

<!-- search results -->
<div id='recipes_search_results'>
  <%= render '/inventory_management/partials/recipes_search_results' %>
</div>

<!-- create new recipe section -->
<div id='create_new_recipe_section'>
  <%= render '/inventory_management/partials/create_recipe' %>
</div>