<!-- create new ingredient -->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsible_ingredient" aria-expanded="false" aria-controls="collapsible_ingredient">
  Create New Ingredient
</button>

<hr />

<div class="collapse" id="collapsible_ingredient">
  <div class="well">

  	<% # create new ingredient form %>
    <%= form_for :ingredient ,url: homepage_create_ingredient_path, method: :post, html: {class: 'form-reload', id: 'create_ingredient_form'}, remote: true do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control' %>

    <%= f.label :unit %>
    <%= f.text_field :unit, class: 'form-control' %>

    <%= f.label :interval %>
    <%= f.text_field :interval, class: 'form-control' %>
    
    <hr />

    <%= f.submit 'Create', name: 'submit', class: 'btn btn-success', click: '()=>{window.location.reload(false)}' %>

    <% end %>

  </div>
</div>