<!DOCTYPE html>
<html>

  <head>

    <title>CookLah</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>


  <body>

    <!-- display messages and alerts to user for signin/signout (devise app manual setup step [3]) -->
    <% if notice %>
      <div class="alert alert-info"><p class="notice"><strong><%= notice %></strong></p></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><p class="alert"><strong><%= alert %></strong></p></div>
    <% end %>

    <%= yield %>

  </body>

</html>