<!-- create new recipe -->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsible_recipe" aria-expanded="false" aria-controls="collapsible_recipe">
  Create New Recipe
</button>

<div class="collapse" id="collapsible_recipe">
  <div class="well">

  	<div id="recipe_ingredients_section">
  	  <%= render '/inventory_management/partials/recipe_modal/recipe_ingredients_section' %>
  	</div>

	<!-- table of equipment to add to recipe -->

	<%= form_for :recipe ,url: inventory_management_create_recipe_path, method: :post, html: {id: 'create_recipe_form'}, remote: true do |f| %>

	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.submit 'Create', name: nil %>

	<% end %>

  </div>
</div>