<!-- create new recipe -->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsible_recipe" aria-expanded="false" aria-controls="collapsible_recipe">
  Create New Recipe
</button>

<div class="collapse" id="collapsible_recipe">
  <div class="well">

  	<div id="recipe_ingredients_section">
	  <% # enter ingredient code to add ingredient %>
	  <div id="add_ingredient_to_recipe_form_section">
		<%= render '/inventory_management/partials/add_ingredient_to_recipe_form_section' %>
	  </div>
	  <div id="ingredients_table_for_recipe">
		<% # table of ingredients to add to recipe %>
		<%= render '/inventory_management/partials/ingredients_table_for_recipe' %>
	  </div>

	  <% # button and modal associated with finding ingredients %>
	  <%= render '/inventory_management/partials/recipe_modal/finding_ingredients' %>

  	</div>

	<!-- table of equipment to add to recipe -->

	<%= form_for :recipe ,url: inventory_management_create_recipe_path, method: :post, html: {id: 'create_recipe_form'}, remote: true do |f| %>

	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <%= f.submit 'Create', name: nil %>

	<% end %>

  </div>
</div>