<div id="ingredients_search_results_info_and_table">

  <!-- info about search query -->
  <div>
    <%= page_entries_info @ingredients %>
  </div>

  <!-- table of search results -->
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Interval</th>
    </tr>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.code %></td>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.price %></td>
        <td><%= ingredient.interval %></td>
      </tr>
    <% end %>
  </table>
</div>

<!-- page numbers -->
<%= paginate @ingredients, :remote => true %>