<!-- search recipes -->
<%= form_tag inventory_management_recipes_path, :method => 'get', :id => 'recipes_search' do %>
  <!-- search field -->
  <p>
    <%= text_field_tag :search_recipes %>


    <% # submit existing ingredients code in hidden field %>
    <% @ingredients_for_recipe.each do |ingredient| %>
      <%= hidden_field_tag 'existing_ingredients_code_for_recipe[]', ingredient.code %>
    <% end %>

    <% # submit existing equipment code in hidden field %>
    <% @equipment_for_recipe.each do |equipment| %>
      <%= hidden_field_tag 'existing_equipment_code_for_recipe[]', equipment.code %>
    <% end %>


    <%= submit_tag 'Search', name: nil %>
  </p>
<% end %>